@import url(style.css);

/* ================= HEADER ================= */

.header{

position:fixed;
top:0;
left:0;
width:100%;
background:linear-gradient(180deg,#14120c,#1a1710);
z-index:100;
box-shadow:0 3px 10px rgba(0,0,0,0.4);
height:80px;

}

.nav-container{

max-width:1200px;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 20px;

}

.logo{

font-size:22px;
font-weight:bold;
color:#d4af37;
letter-spacing:1px;

}

.nav-menu{

list-style:none;
display:flex;
gap:25px;

}

.nav-menu a{

text-decoration:none;
color:white;
font-size:15px;
transition:0.3s;

}

.nav-menu a:hover{

color:#d4af37;

}

.nav-menu.active{

display:flex;
flex-direction:column;
position:absolute;
top:70px;
left:0;
width:100%;
background:#14120c;
padding:20px;

}


/* BOTON DENUNCIA */

.btn-denuncia{

background:#d4af37;
padding:8px 16px;
border-radius:5px;
color:black !important;
font-weight:bold;

}

.btn-denuncia:hover{

background:#b8962e;

}

/* MENU MOBILE */

.menu-toggle{

display:none;
font-size:28px;
color:white;
cursor:pointer;

}


@media(max-width:900px){

.nav-menu{

display:none;

}

.menu-toggle{

display:block;

}
}

/* MOBILE */

@media(max-width:768px){

.menu-toggle{
display:block;
}

.nav-menu{

position:absolute;
top:80px;
left:0;
width:100%;
background:#14120c;
flex-direction:column;
align-items:center;
gap:20px;
padding:20px 0;

display:none;

}

.nav-menu.active{
display:flex;
}

}